#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "leed"
name = "Leed"
description.en = "Minimalistic RSS feed aggregator which allows quick and non-intrusive reading of feeds"
description.fr = "Agrégateur RSS minimaliste qui permet la consultation de flux RSS de manière rapide et non intrusive"

version = "1.13.0~ynh1"

maintainers = []

[upstream]
license = "AGPL-3.0"
code = "https://github.com/LeedRSS/Leed"
website = "https://github.com/LeedRSS/Leed"

[integration]
yunohost = ">= 4.3.0"
architectures = "all"
multi_instance = true
ldap = "?"
sso = "?"
disk = "50M" # FIXME: replace with an **estimate** minimum disk requirement. e.g. 20M, 400M, 1G, ...
ram.build = "50M" # FIXME: replace with an **estimate** minimum ram requirement. e.g. 50M, 400M, 1G, ...
ram.runtime = "50M" # FIXME: replace with an **estimate** minimum ram requirement. e.g. 50M, 400M, 1G, ...

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/leed"

    [install.init_main_permission]
    help.en = "A public Leed will be accessible for third party apps. By turning on 'anonymous readers' in Leed configuration, you can made your feeds public."
    help.fr = "Un Leed public sera accessible pour les applications tierces. En autorisant 'la lecture anonyme' dans la configuration de Leed, vous pouvez rendre vos flux publics."
    type = "group"
    default = false

    [install.language]
    ask.en = "Choose your agregator's language"
    ask.fr = "Choisissez la langue de votre agrégateur"
    type = "select"
    choices = ["en", "fr", "es"]
    default = "en"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]
    [resources.sources.main]
    url = "https://github.com/LeedRSS/Leed/archive/refs/tags/v1.13.0.tar.gz"
    sha256 = "56c6e08b51c0c125c5c3f4355a7a0403c0e36221b7a67493e20678407940eff1"

    autoupdate.strategy = "latest_github_tag"
    autoupdate.asset = "tarball"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "php7.4-fpm",
    ]

    [resources.database]
    type = "mysql"
